## Analiza danych

In [1]:
import pandas as pd

billboard = pd.read_csv('G:/V_semestr/AiBD_Natalia_Ksiazek/Lab5-TIER-Tidy-data/original-data/billboard.csv', encoding_errors='ignore')
billboard

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,99,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
billboard.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             317 non-null    int64
 1   artist.inverted  317 non-null    object
 2   track            317 non-null    object
 3   time             317 non-null    object
 4   genre            317 non-null    object
 5   date.entered     317 non-null    object
 6   date.peaked      317 non-null    object
 7   x1st.week        317 non-null    int64
 8   x2nd.week        312 non-null    float64
 9   x3rd.week        307 non-null    float64
 10  x4th.week        300 non-null    float64
 11  x5th.week        292 non-null    float64
 12  x6th.week        280 non-null    float64
 13  x7th.week        269 non-null    float64
 14  x8th.week        260 non-null    float64
 15  x9th.week        253 non-null    float64
 16  x10th.week       244 non-null    float64
 17  x11th.week       236 non-null    float64
 18  x12th.week       222 non-null    float64
 19  x13th.week       210 non-null    float64
 20  x14th.week       204 non-null    float64
 21  x15th.week       197 non-null    float64
 22  x16th.week       182 non-null    float64
 23  x17th.week       177 non-null    float64
 24  x18th.week       166 non-null    float64
 25  x19th.week       156 non-null    float64
 26  x20th.week       146 non-null    float64
 27  x21st.week       65 non-null     float64
 28  x22nd.week       55 non-null     float64
 29  x23rd.week       48 non-null     float64
 30  x24th.week       46 non-null     float64
 31  x25th.week       38 non-null     float64
 32  x26th.week       36 non-null     float64
 33  x27th.week       29 non-null     float64
 34  x28th.week       24 non-null     float64
 35  x29th.week       20 non-null     float64
 36  x30th.week       20 non-null     float64
 37  x31st.week       19 non-null     float64
 38  x32nd.week       18 non-null     float64
 39  x33rd.week       12 non-null     float64
 40  x34th.week       10 non-null     float64
 41  x35th.week       9 non-null      float64
 42  x36th.week       9 non-null      float64
 43  x37th.week       9 non-null      float64
 44  x38th.week       8 non-null      float64
 45  x39th.week       8 non-null      float64
 46  x40th.week       7 non-null      float64
 47  x41st.week       7 non-null      float64
 48  x42nd.week       6 non-null      float64
 49  x43rd.week       6 non-null      float64
 50  x44th.week       6 non-null      float64
 51  x45th.week       5 non-null      float64
 52  x46th.week       5 non-null      float64
 53  x47th.week       5 non-null      float64
 54  x48th.week       4 non-null      float64
 55  x49th.week       4 non-null      float64
 56  x50th.week       4 non-null      float64
 57  x51st.week       4 non-null      float64
 58  x52nd.week       4 non-null      float64
 59  x53rd.week       4 non-null      float64
 60  x54th.week       2 non-null      float64
 61  x55th.week       2 non-null      float64
 62  x56th.week       2 non-null      float64
 63  x57th.week       2 non-null      float64
 64  x58th.week       2 non-null      float64
 65  x59th.week       2 non-null      float64
 66  x60th.week       2 non-null      float64
 67  x61st.week       2 non-null      float64
 68  x62nd.week       2 non-null      float64
 69  x63rd.week       2 non-null      float64
 70  x64th.week       2 non-null      float64
 71  x65th.week       1 non-null      float64
 72  x66th.week       0 non-null      float64
 73  x67th.week       0 non-null      float64
 74  x68th.week       0 non-null      float64
 75  x69th.week       0 non-null      float64
 76  x70th.week       0 non-null      float64
 77  x71st.week       0 non-null      float64
 78  x72nd.week       0 non-null      float64
 79  x73rd.week       0 non-null      float64
 80  x74th.week       0 non-null      float64
 81  x75th.week       0 non-null      float64
 82  x76th.week       0 non-null      float64
dtypes: float64(75), int64(2), object(6)
memory usage: 205.7+ KB